
ul{
    width: 100%;
    height: 30px;
    background: skyblue;
    list-style: none;
    padding: 15px;
}

ul li{
    float: left;
    margin-right: 5px;
    text-align: center;
   
}

ul li a{
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}
section div{
    width: 50px;
    height: 50px;
    background: pink;
    padding: 50px;
    border: 3px;
    display: inline;
}

select h1{
    font-size: 30px;
    color: blueviolet;
    float: center;
}
h1, h2{
    font-size: 20px;
    text-align: center;
}
.article-bg{
    background-color: plum;
    color: black;
    text-align: center;
    height: 300px;
    padding: 30px;
}

.article-2nd-bg{
    background-color: orange;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 300px;
    padding: 30px;
}
.article-3nd-bg{
    background-color: orangered;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 200px;
    padding: 50px;
}
.article-5nd-bg{
    background-color: red;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 400px;
    padding: 20px;
}
.article-6nd-bg{
    background-color: brown;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 400px;
    padding: 20px;
}
.article-7nd-bg{
    background-color: blueviolet;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 250px;
    padding: 40px;
}
.article-8nd-bg{
    background-color:blue;
    color: rgb(225, 225, 225);
    text-align: center;
    height: 200px;
    padding: 40px;
}
.box-test{
    background-color: palevioletred;
    display: inline-block;
    border: 10px solid white;
    margin: 50px;
    padding: 40px;
    width: 50px;
    height: 50px;
    box-align: center;
    text-align: center;
}
.image-cropper-50 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-backdrop-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
    border-radius: 50%;
}
.image-cropper-25 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-backdrop-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    border-radius: 25%;
}
.image-cropper-5 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-backdrop-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-radius: 5%;
}
style1{
    width:100px; 
    height:150px; 
    border:1px;
    float:left;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
.flex-container {
    display: flex;
    height: 200px;
    width: 1000px;
    padding: 40px;
    align-items: center;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color:blue;
    width: 1000px;
    height: 200px;
    padding: 40px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .grid-container {
    display: grid;
    grid-gap: 10px;
    background-color:red;
    padding: 10px;
    color: black;
    height: 50;
  }
  
  .grid-item {
    background-color:white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .item3 {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  .item10 {
    grid-column: 2 / span 2;
    grid-row: 5;
  }
